<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prem Mandir Gallery</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <link rel="stylesheet" href="sun.css">

    
</head>
<body>
    <div id="wrapper">

        <div class="background">
            <figure class="back">
                <img src="s_bck.jpg">
            </figure>
            <h2>SUN TEMPLE</h2>
        </div>
        <br>
        <br>
        <br>
        <div class="container">
            <h1>Best Places in Konark</h1>
            <div class="gallery">

                <figure class="card">
                    <img src="sun.jpeg">
                    <figcaption><b>Sun temple</b></figcaption>
                </figure>
                <figure class="card">
                    <img src="chandrabhaga-beach.jpg">
                    <figcaption><b>Chandrabhaga beach</b></figcaption>
                </figure>
                <figure class="card">
                    <img src="cuttack.jpeg">
                    <figcaption><b>Cuttack</b></figcaption>
                </figure>
                <figure class="card">
                    <img src="Ramachandi-Temple.jpg">
                    <figcaption><b>Ramachandi Temple</b></figcaption>
                </figure>
                <figure class="card">
                    <img src="ramchandi-beach-konark.jpg">
                    <figcaption><b>Ramchandi beach konark</b></figcaption>
                </figure>
                <figure class="card">
                    <img src="chilika-lake.jpg">
                    <figcaption>Chilika lake</b></figcaption>
                </figure>
                <figure class="card">
                    <img src="sambalpur.jpg">
                    <figcaption><b>Sambalpur</b></figcaption>
                </figure>
                <figure class="card">
                    <img src="museum.jpg">
                    <figcaption><b>Museum</b></figcaption>
                </figure>
                <figure class="card">
                    <img src="Bhitarkanika.jpeg">
                    <figcaption><b>Bhitarkanika</b></figcaption>
                </figure>

            </div>

            <div class="para">
                <h3><b>About Sun Temple</b></h3><br>
                <p style="color: grey;"><b>Sun Temple, Temple of the sun at Konark</b></p><br>
                <p style="color: grey;">Konark Sun Temple is a 13th-century CE (year 1250) Sun temple at Konark about 35 kilometres (22 mi) northeast from Puri city on the coastline in Puri district, Odisha, India.[1][2] The temple is attributed to king Narasimhadeva I of the Eastern Ganga dynasty about 1250 CE</p>
                
                 <a href="https://en.wikipedia.org/wiki/Konark_Sun_Temple" target="_blank">Read More</a>

                 <div class="thing">
                

                   
                </div>

                <h1>Sun Temple Tour package</h1>
                
                <div class="main">

                   <div class="card2">
                   
                   <div class="image">
                      <img src="tour1.jpeg">
                   </div>
                   <div class="title">
                    <h1>Divine Trip to Odisha Family Package</h1>
                   </div>
                   <div class="des">
                    <p>5 Days/4 Nights</p>
                    <p style="color: blue;">Rs.34,506</p>
                    <p id="wrgpaise"><del>39,000</del></p>
                    <button style="background-color: grey;">10% OFF</button>
                    </div>
                   </div>
                   <!--cards -->
                   
                   
                   <div class="card2">
                   
                   <div class="image">
                      <img src="tour2.jpg">
                   </div>
                   <div class="title">
                    <h1>Sacred Trip to Puri & Konark </h1>
                   </div>
                   <div class="des">
                    <p>Family Package</p>
                    <p style="color: blue;">Rs.10,500</p>
                    <p id="wrgpaise"><del>15,500</del></p>
                    <button style="background-color: grey;">20% OFF</button>
                   </div>
                   </div>
                   <!--cards -->
                   
                   
                   <div class="card2">
                   
                   <div class="image">
                      <img src="tour3.jpg">
                   </div>
                   <div class="title">
                    <h1>Best of Orissa in 5 Days </h1>
                   </div>
                   <div class="des">
                    <p>(from Bhubaneswar)</p>
                    <p style="color: blue;">Rs.15,900</p>
                    <p id="wrgpaise"><del>17,000</del></p>
                    <button style="background-color: grey;">5% OFF</button>
                   </div>
                   </div>
                   </div>
              
                   <h1>Trip Ideas In Prem Mandir</h1><br>
                   <div class="container2">
                    <div>
                      <div class="content">
                        <h3>Handicrafts</h3>
                        <span>Masterpiece pottery</span>
                      </div>
                    </div>
                    <div>
                      <div class="content">
                        <h3>Street food</h3>
                        <span>Cheapest</span>
                      </div>
                    </div>
                    <div>
                      <div class="content">
                        <h3>Market</h3>
                        <span>Odishi saare</span>
                      </div>
                    </div>
                    <div>
                      <div class="content">
                        <h3>Culture</h3>
                        <span>Historical things</span>
                      </div>
                    </div>
                  </div><br><br>


                  <span class="heading"><b>Sun Temple Rating & Reviews</b></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span><br><br>
                  <p>89 Ratings and 75 Reviews</p><br>
                  <hr style="border:3px solid #f1f1f1">
                  
                  <div class="row">
                    <div class="side">
                      <div><b>5 star</b></div>
                    </div>
                    <div class="middle">
                      <div class="bar-container">
                        <div class="bar-5"></div>
                      </div>
                    </div>
                    <div class="side right">
                      <div></div>
                    </div>
                    <div class="side">
                      <div><b>4 star</b></div>
                    </div>
                    <div class="middle">
                      <div class="bar-container">
                        <div class="bar-4"></div>
                      </div>
                    </div>
                    <div class="side right">
                      <div></div>
                    </div>
                    <div class="side">
                      <div><b>3 star</b></div>
                    </div>
                    <div class="middle">
                      <div class="bar-container">
                        <div class="bar-3"></div>
                      </div>
                    </div>
                    <div class="side right">
                      <div></div>
                    </div>
                    <div class="side">
                      <div><b>2 star</b></div>
                    </div>
                    <div class="middle">
                      <div class="bar-container">
                        <div class="bar-2"></div>
                      </div>
                    </div>
                    <div class="side right">
                      <div></div>
                    </div>
                    <div class="side">
                      <div><b>1 star</b></div>
                    </div>
                    <div class="middle">
                      <div class="bar-container">
                        <div class="bar-1"></div>
                      </div>
                    </div>
                    <div class="side right">
                      <div></div>
                    </div>
                  </div><br><br>

                  <div class="footer-dark">
                    <footer>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 col-md-3 item">
                                    <h3>Services</h3>
                                    <ul>
                                        <li><a href="#">Booking Tickets</a></li>
                                        <li><a href="#">Guide</a></li>
                                        <li><a href="#">Rental Vehicles</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 col-md-3 item">
                                    <h3>About</h3>
                                    <ul>
                                        <li><a href="tel:+919996660666">Call Me</a></li>
                                        <li><a href="mailto:travelx@gmail.com">Mail me</a></li>
                                        <!-- <li><a href="#"></a></li> -->
                                    </ul>
                                </div>
                                <div class="col-md-6 item text">
                                    <h3>Travel Your Happiness</h3>
                                     <ul>
                                        <li>Stay Safe</li>
                                        <li>Stay Happy</li>
                                        <li>Stay Healty</li>
                                     </ul>
                                </div>
                                <div class="col item social"><a href="https://www.facebook.com/" target="_blank"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/" target="_blank"><i class="icon ion-social-twitter"></i></a><a href="https://www.snapchat.com/" target="_blank"><i class="icon ion-social-snapchat"></i></a><a href="https://www.instagram.com/" target="_blank"><i class="icon ion-social-instagram"></i></a></div>
                            </div>
                            <p class="copyright">TravelX © 2023</p>
                        </div>
                    </footer>
                </div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
                    
            </div>
        </div>
    </div>

    
</body>
</html>