<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Varanasi Gallery</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <link rel="stylesheet" href="varanasi.css">

    
</head>
<body>
    <div id="wrapper">

        <div class="background">
            <figure class="back">
                <img src="vbck.jpg">
            </figure>
            <h2>VARANASI</h2>
        </div>
        <br>
        <br>
        <br>
        <div class="container">
            <h1>Best Places in Varanasi</h1>
            <div class="gallery">

                <figure class="card">
                    <img src="vara1.jpeg">
                    <figcaption><b>Shri Kashi Vishwanath Temple</b></figcaption>
                </figure>
                <figure class="card">
                    <img src="Dashashwamedh-Ghat.jpg">
                    <figcaption><b>Dashashwamedh Ghat</b></figcaption>
                </figure>
                <figure class="card">
                    <img src="vara3.jpg">
                    <figcaption><b>Assi Ghat</b></figcaption>
                </figure>
                <figure class="card">
                    <img src="manikarnika-ghat.jpg">
                    <figcaption><b>Manikarnika Ghat - Manikarnika Mahashamshan Ghat</b></figcaption>
                </figure>
                <figure class="card">
                    <img src="hanuman.jpg">
                    <figcaption><b>Sankat Mochan Hanuman Mandir</b></figcaption>
                </figure>
                <figure class="card">
                    <img src="tour4.jpg">
                    <figcaption>Ramnagar Fort</b></figcaption>
                </figure>
                <figure class="card">
                    <img src="bhu.jpg">
                    <figcaption><b>Banaras Hindu University</b></figcaption>
                </figure>
                <figure class="card">
                    <img src="dhamekh-stupa.jpeg">
                    <figcaption><b>Dhamekh Stupa, Sarnath</b></figcaption>
                </figure>
                <figure class="card">
                    <img src="vana5.jpg">
                    <figcaption><b>Durga Temple</b></figcaption>
                </figure>

            </div>

            <div class="para">
                <h3><b>About Varanasi</b></h3><br>
                <p style="color: grey;"><b>Varanasi, city of light</b></p><br>
                <p style="color: grey;">Varanasi is a city in the northern Indian state of Uttar Pradesh dating to the 11th century B.C. Regarded as the spiritual capital of India, the city draws Hindu pilgrims who bathe in the Ganges River’s sacred waters and perform funeral rites. Along the city's winding streets are some 2,000 temples, including Kashi Vishwanath, the “Golden Temple,” dedicated to the Hindu god Shiva.</p>
                
                 <a href="https://en.wikipedia.org/wiki/Varanasi" target="_blank">Read More</a>

                 <div class="thing">
                

                   
                </div>

                <h1>Varanasi Tour package</h1>
                
                <div class="main">

                   <div class="card2">
                   
                   <div class="image">
                      <img src="tour1.jpg">
                   </div>
                   <div class="title">
                    <h1>Dev Deepavali in Varanasi - By Bus</h1>
                   </div>
                   <div class="des">
                    <p>1 Night</p>
                    <p style="color: blue;">Rs.12,900</p>
                    <p id="wrgpaise"><del>19,620</del></p>
                    <button style="background-color: grey;">35% OFF</button>
                    </div>
                   </div>
                   <!--cards -->
                   
                   
                   <div class="card2">
                   
                   <div class="image">
                      <img src="tour2.jpg">
                   </div>
                   <div class="title">
                    <h1>5 hours Private Evening Ganga Aarti </h1>
                   </div>
                   <div class="des">
                    <p>Free cancellation</p>
                    <p style="color: blue;">Rs.2,500</p>
                    <p id="wrgpaise"><del>5,000</del></p>
                    <button style="background-color: grey;">50% OFF</button>
                   </div>
                   </div>
                   <!--cards -->
                   
                   
                   <div class="card2">
                   
                   <div class="image">
                      <img src="tour3.jpg">
                   </div>
                   <div class="title">
                    <h1>PILGRIMAGE VARANASI TOUR </h1>
                   </div>
                   <div class="des">
                    <p>2 nights</p>
                    <p style="color: blue;">Rs.15,900</p>
                    <p id="wrgpaise"><del>17,000</del></p>
                    <button style="background-color: grey;">5% OFF</button>
                   </div>
                   </div>
                   </div>
              
                   <h1>Trip Ideas In Varanasi</h1><br>
                   <div class="container2">
                    <div>
                      <div class="content">
                        <h3>Saare</h3>
                        <span>Beautiful and unique</span>
                      </div>
                    </div>
                    <div>
                      <div class="content">
                        <h3>Street food</h3>
                        <span>Famous</span>
                      </div>
                    </div>
                    <div>
                      <div class="content">
                        <h3>Ganga Aarti</h3>
                        <span>Light and power</span>
                      </div>
                    </div>
                    <div>
                      <div class="content">
                        <h3>Hidden Temple</h3>
                        <span>Peace</span>
                      </div>
                    </div>
                  </div><br><br>


                  <span class="heading"><b>Varanasi Rating & Reviews</b></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span><br><br>
                  <p>389 Ratings and 65 Reviews</p><br>
                  <hr style="border:3px solid #f1f1f1">
                  
                  <div class="row">
                    <div class="side">
                      <div><b>5 star</b></div>
                    </div>
                    <div class="middle">
                      <div class="bar-container">
                        <div class="bar-5"></div>
                      </div>
                    </div>
                    <div class="side right">
                      <div></div>
                    </div>
                    <div class="side">
                      <div><b>4 star</b></div>
                    </div>
                    <div class="middle">
                      <div class="bar-container">
                        <div class="bar-4"></div>
                      </div>
                    </div>
                    <div class="side right">
                      <div></div>
                    </div>
                    <div class="side">
                      <div><b>3 star</b></div>
                    </div>
                    <div class="middle">
                      <div class="bar-container">
                        <div class="bar-3"></div>
                      </div>
                    </div>
                    <div class="side right">
                      <div></div>
                    </div>
                    <div class="side">
                      <div><b>2 star</b></div>
                    </div>
                    <div class="middle">
                      <div class="bar-container">
                        <div class="bar-2"></div>
                      </div>
                    </div>
                    <div class="side right">
                      <div></div>
                    </div>
                    <div class="side">
                      <div><b>1 star</b></div>
                    </div>
                    <div class="middle">
                      <div class="bar-container">
                        <div class="bar-1"></div>
                      </div>
                    </div>
                    <div class="side right">
                      <div></div>
                    </div>
                  </div><br><br>

                  <div class="footer-dark">
                    <footer>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 col-md-3 item">
                                    <h3>Services</h3>
                                    <ul>
                                        <li><a href="#">Booking Tickets</a></li>
                                        <li><a href="#">Guide</a></li>
                                        <li><a href="#">Rental Vehicles</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 col-md-3 item">
                                    <h3>About</h3>
                                    <ul>
                                        <li><a href="tel:+919996660666">Call Me</a></li>
                                        <li><a href="mailto:travelx@gmail.com">Mail me</a></li>
                                        <!-- <li><a href="#"></a></li> -->
                                    </ul>
                                </div>
                                <div class="col-md-6 item text">
                                    <h3>Travel Your Happiness</h3>
                                     <ul>
                                        <li>Stay Safe</li>
                                        <li>Stay Happy</li>
                                        <li>Stay Healty</li>
                                     </ul>
                                </div>
                                <div class="col item social"><a href="https://www.facebook.com/" target="_blank"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/" target="_blank"><i class="icon ion-social-twitter"></i></a><a href="https://www.snapchat.com/" target="_blank"><i class="icon ion-social-snapchat"></i></a><a href="https://www.instagram.com/" target="_blank"><i class="icon ion-social-instagram"></i></a></div>
                            </div>
                            <p class="copyright">TravelX © 2023</p>
                        </div>
                    </footer>
                </div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
                    
            </div>
        </div>
    </div>

    
</body>
</html>