<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wildlife</title>

 
  <link rel="icon" type="image/x-icon" href="favicon.ico">
   <link rel="stylesheet" href="wildlife.css">
   
   


</head>
<body>
    <div id="wrapper">
          <div class="container">

              <img src="wild.avif" class="background">
              <!-- <img src="foreground.png" class="foreground"> -->
              <h1>WILDLIFE</h1>

          </div>   
        <section>
            <h2 class="heading1">PACKAGES</h2>
            <p class="text">
                
                <ul class="cards">
                    <li class="cards__item">
                      <div class="card">
                        <div class="card__image card__image--fence"></div>
                        <div class="card__content">
                          <div class="card__title">Golden Triangle Tour With Ranthambore</div>
                          <p class="card__text"> Delhi – Agra – Fatehpur Sikri – Ranthambore – Jaipur – Delhi</p>
                          <p class="card__text">7 Nights / 8 days</p>
                          <button class="btn btn--block card__btn"><b>Rs. 50,000</b></button>
                        </div>
                      </div>
                    </li>
                    <li class="cards__item">
                      <div class="card">
                        <div class="card__image card__image--river"></div>
                        <div class="card__content">
                          <div class="card__title">Maharashtra Wildlife Tour</div>
                          <p class="card__text">Nagpur - Tadoba National Park - Nagzira Wildlife Sanctuary - Nagpur</p>
                          <p class="card__text">4 Nights / 5 days</p>
                          <button class="btn btn--block card__btn">Rs. 37,000</button>
                        </div>
                      </div>
                    </li>
                    <li class="cards__item">
                      <div class="card">
                        <div class="card__image card__image--record"></div>
                        <div class="card__content">
                          <div class="card__title">Corbett With Nainital Tour</div>
                          <p class="card__text">Delhi - Nainital - Corbett - Delhi</p>
                          <p class="card__text"> 3 Nights / 4 days</p>
                          <button class="btn btn--block card__btn">Rs. 30,000</button>
                        </div>
                      </div>
                    </li>
                    <li class="cards__item">
                      <div class="card">
                        <div class="card__image card__image--flowers"></div>
                        <div class="card__content">
                          <div class="card__title">Lure of the Jungle</div>
                          <p class="card__text">Delhi - Jaipur - Ranthambore (Sawali Madhopur) - Agra - Gwalior - Shivpuri - Orchha - Khajuraho – Bandhavgarh - Kanha - Raipur - Delhi</p>
                          <p class="card__text">18 Nights / 19 days</p>
                          <button class="btn btn--block card__btn">Rs. 70,000</button>
                        </div>
                      </div>
                    </li>
                    <li class="cards__item">
                        <div class="card">
                          <div class="card__image card__image--adv5"></div>
                          <div class="card__content">
                            <div class="card__title">South India Tour With Wildlife</div>
                            <p class="card__text">Bangalore – Mysore – Bandipur – Bangalore</p>
                            <p class="card__text">3 Nights / 4 days</p>
                            <button class="btn btn--block card__btn">Rs. 30,000</button>
                          </div>
                        </div>
                      </li>
                      <li class="cards__item">
                        <div class="card">
                          <div class="card__image card__image--adv6"></div>
                          <div class="card__content">
                            <div class="card__title">Wildlife Safari in Gujarat</div>
                            <p class="card__text">Ahmedabad - Dasada - Gir National Park - Sayla - Ahmedabad</p>
                            <p class="card__text">6 Nights / 7 days</p>
                            <button class="btn btn--block card__btn">Rs. 40,000</button>
                          </div>
                        </div>
                      </li>
                  </ul>
                </p>
        
            <div class="bg bg1">
                <h2 class="heading2">Dolphin Safari</h2>
            </div>
            <p class="text">
                <ul class="cards">
                    <li class="cards__item">
                      <div class="card">
                        <div class="card__image card__image--dol1"></div>
                        <div class="card__content">
                          <div class="card__title">Vikramashila Dolphin Gangetic Sanctuary, Bihar</div>
                          <p class="card__text"> The Vikramashila Dolphin Gangetic Sanctuary in Bhagalpur district of Bihar is one of the only places where these dolphins stay protected. Only a few hundred of them live in this sanctuary which stretches over 60 Kms. Barari Ghat is the best place for spotting the dolphins. </p>
                          <p class="card__text"><b>Address</b>Bhagalpur, Bihar</p>
                          <p class="card__text"><b>Best Time to Visit:</b>October to June </p>
                          <button class="btn btn--block card__btn"><b>Rs. 9,000</b></button>
                        </div>
                      </div>
                    </li>
                    <li class="cards__item">
                      <div class="card">
                        <div class="card__image card__image--dol2"></div>
                        <div class="card__content">
                          <div class="card__title">Dibru Saikhowa National Park, Assam</div>
                          <p class="card__text">The Dibru Saikhowa National Park is a place in Assam where you can spot freshwater Gangetic Dolphins. The national park is located in the Dibrugarh and Tinsukia district of Assam. This place is bounded by three rivers, Brahmaputra, Lohit and Dibru.</p>
                          <p class="card__text"><b>Address:</b>Laika Gaon, Assam </p>
                          <p class="card__text"><b>Best Time to Visit:</b>November to April </p>
                          <button class="btn btn--block card__btn">Rs. 10,000</button>
                        </div>
                      </div>
                    </li>
                    <li class="cards__item">
                      <div class="card">
                        <div class="card__image card__image--dol3"></div>
                        <div class="card__content">
                          <div class="card__title">Diu</div>
                          <p class="card__text">Diu is a town present in Daman and Diu which is a Union Territory of India. As it is situated by the ocean, dolphins are sometimes spotted in the nearby area. Some of the popular places for spotting Dolphins include the Dunny point as well as the island of Beyt Dwarka. </p>
                          <p class="card__text"><b>Address:</b> Daman & Diu</p>
                          <p class="card__text"><b>Best Time to Visit:</b>August to October </p>
                          <button class="btn btn--block card__btn">Rs. 12,000</button>
                        </div>
                      </div>
                    </li>
                    <li class="cards__item">
                      <div class="card">
                        <div class="card__image card__image--dol4"></div>
                        <div class="card__content">
                          <div class="card__title">Gulf of Kutch Marine National Park, Gujarat</div>
                          <p class="card__text">There are a number of marine mammals including different types of dolphins as well as whales. As it is a fragile ecosystem, the researchers are constantly trying to improve its health. Tourists can spot the different dolphins which include common dolphins, bottlenose dolphins and Indo-Pacific humpback dolphins. One can even spot the greater Flamingo colony which is seen in this region. </p>
                          <p class="card__text"><b>Address: </b>Jamnagar, Gulf of Kutch  </p>
                          <p class="card__text"><b>Best Time to Visit: </b>End of October to end of February  </p>
                          <button class="btn btn--block card__btn">Rs. 9,500</button>
                        </div>
                      </div>
                    </li>
                    <li class="cards__item">
                        <div class="card">
                          <div class="card__image card__image--dol5"></div>
                          <div class="card__content">
                            <div class="card__title"> Dapoli, Maharashtra</div>
                            <p class="card__text">Dapoli is situated about 227 KM south of Bombay and it is best for spotting the dolphins. The place has several spots such as the Murud Beach, the Kuravde Beach, Dabhol Port and Harihareshwar which are perfect for catching a sight of the dolphins. Visitors can enjoy Dolphin safari when they are in Dapoli. </p>
                            <p class="card__text"><b>Address:</b>Dapoli, Ratnagiri, Maharashtra </p>
                            <p class="card__text"><b>Best Time to Visit:</b>November to February</p>
                            <button class="btn btn--block card__btn">Rs. 15,000</button>
                          </div>
                        </div>
                      </li>
                      <li class="cards__item">
                        <div class="card">
                          <div class="card__image card__image--dol6"></div>
                          <div class="card__content">
                            <div class="card__title">Chilika Lake, Odisha </div>
                            <p class="card__text">Chilika Lake is a brackish water lagoon present in the state of Odisha and it serves as a home to many Irrawaddy Dolphins. Visitors have to take a boat ride to explore the lagoon and the guides often spot out the dolphins. </p>
                            <p class="card__text"><b>Address: </b>Chilika Lake, Odisha</p>
                            <p class="card__text"><b>Best Time to Visit:</b>November to February</p>
                            <button class="btn btn--block card__btn">Rs. 12,000</button>
                          </div>
                        </div>
                      </li>
                  </ul>


            </p>
            
                <div class="bg bg2">
                    <h2 class="heading2">National Park</h2>
                </div>
                <p class="text">
                    <ul class="cards">
                        <li class="cards__item">
                          <div class="card">
                            <div class="card__image card__image--park1"></div>
                            <div class="card__content">
                              <div class="card__title">Jim Corbett & Nainital Tour</div>
                              <p class="card__text">Delhi - Jim Corbett - Nainital - Delhi</p>
                              <p class="card__text"><b> 4 Days | 3 Nights</b></p>
                              <button class="btn btn--block card__btn"><b>Rs. 14,000</b></button>
                            </div>
                          </div>
                        </li>
                        <li class="cards__item">
                          <div class="card">
                            <div class="card__image card__image--park2"></div>
                            <div class="card__content">
                              <div class="card__title">Bandhavgarh Widlife Tour</div>
                              <p class="card__text">Jabalpur - Bandhavgarh - Jabalpur</p>
                              <p class="card__text"><b>4 Days | 3 Nights</b> </p>
                              <button class="btn btn--block card__btn">Rs. 13,500</button>
                            </div>
                          </div>
                        </li>
                        <li class="cards__item">
                          <div class="card">
                            <div class="card__image card__image--park3"></div>
                            <div class="card__content">
                              <div class="card__title"> Kaziranga and Manas Wildlife Tour</div>
                              <p class="card__text">Guwahati - Kaziranga - Manas - Guwahati</p>
                              <p class="card__text"><b>3 Nights / 4 Days</b></p>
                              <button class="btn btn--block card__btn">Rs. 12,000</button>
                            </div>
                          </div>
                        </li>
                        <li class="cards__item">
                          <div class="card">
                            <div class="card__image card__image--park4"></div>
                            <div class="card__content">
                              <div class="card__title">Kanha Wildlife Tour</div>
                              <p class="card__text">Jabalpur - Kanha - Nagpur</p>
                              <p class="card__text"><b> 4 Days | 3 Nights</b></p>
                              <button class="btn btn--block card__btn">Rs. 13,600</button>
                            </div>
                          </div>
                        </li>
                        <li class="cards__item">
                            <div class="card">
                              <div class="card__image card__image--park5"></div>
                              <div class="card__content">
                                <div class="card__title">Nainital Jim Corbett Tour Package from Jaipur</div>
                                <p class="card__text">Jaipur - Nainital - Jim Corbett - Jaipur</p>
                                <p class="card__text"><b>4 Days | 3 Nights</b></p>
                                <button class="btn btn--block card__btn"><b>Rs. 12,500</b></button>
                              </div>
                            </div>
                          </li>
                          <li class="cards__item">
                            <div class="card">
                              <div class="card__image card__image--park6"></div>
                              <div class="card__content">
                                <div class="card__title">Jim Corbett & Nainital Package from Delhi</div>
                                <p class="card__text">Delhi - Nainital - Jim Corbett National Park - Delhi</p>
                                <p class="card__text"><b>4 Days | 3 Nights</b></p>
                                <button class="btn btn--block card__btn"><b>Rs. 13,700</b></button>
                              </div>
                            </div>
                          </li>
                      </ul>
    

                </p>

                <div class="bg bg3">
                    <h2 class="heading2">Jungle Safari</h2>
                </div>
                <p class="text">
                    <ul class="cards">
                        <li class="cards__item">
                          <div class="card">
                            <div class="card__image card__image--safari1"></div>
                            <div class="card__content">
                              <div class="card__title">Jim Corbett National Park, Uttarakhand</div>
                              <p class="card__text">A holiday trip to Corbett brings lots of fun opportunities for the adventurers. Along with tigers, Jim Corbett National Park also features animals like Fishing Cats, Goral, Himalayan Tahr, Serow and several other wildlife species.</p>
                              <p class="card__text"><b>Best Time to Visit: </b>March to Mid-June</p>
                              <button class="btn btn--block card__btn"><b>Rs. 23,500</b></button>
                            </div>
                          </div>
                        </li>
                        <li class="cards__item">
                          <div class="card">
                            <div class="card__image card__image--safari2"></div>
                            <div class="card__content">
                              <div class="card__title">Ranthambore National Park, Rajasthan</div>
                              <p class="card__text">pread over an area of 1,334 KM², Ranthambore National Park is one of the most popular homes to the king of jungles – tigers. You can come across a number of tigers walking across this park. Tigers are the main attraction of the park that easily grabs the attention of wildlife photographers.</p>
                              <p class="card__text"><b> Best Time to Visit: </b>March to Mid-June</p>
                              <button class="btn btn--block card__btn">Rs. 24,000</button>
                            </div>
                          </div>
                        </li>
                        <li class="cards__item">
                          <div class="card">
                            <div class="card__image card__image--safari3"></div>
                            <div class="card__content">
                              <div class="card__title">Gir National Park, Gujarat</div>
                              <p class="card__text">Apart from the Lions, the park houses about 32 different species of mammals, 300 types of birds and 26 varieties of reptiles. Its rich biodiversity appeals a number of visitors in the park</p>
                              <p class="card__text"><b>Best Time to Visit: </b>October to June</p>
                              <button class="btn btn--block card__btn">Rs. 22,490</button>
                            </div>
                          </div>
                        </li>
                        <li class="cards__item">
                          <div class="card">
                            <div class="card__image card__image--safari4"></div>
                            <div class="card__content">
                              <div class="card__title">Bandhavgarh National Park, Madhya Pradesh</div>
                              <p class="card__text">Bandhavgarh National Park is an ideal place to indulge into the thrilling experience of watching Royal Bengal Tigers from close. The presence of these striped cats and different exotic fauna make Bandhavgarh one of the most amazing places to enjoy wildlife safari in India. </p>
                              <p class="card__text"><b>Best Time to Visit: </b> October to June while March to Mid-June is the best time to encounter tigers</p>
                              <button class="btn btn--block card__btn">Rs. 30,199</button>
                            </div>
                          </div>
                        </li>
                        <li class="cards__item">
                            <div class="card">
                              <div class="card__image card__image--safari5"></div>
                              <div class="card__content">
                                <div class="card__title">Kaziranga National Park, Assam</div>
                                <p class="card__text">Visit Kaziranga National Park and get a chance to come across one of the most interesting animals – One Horned Rhinoceros. Spread over 430 KM², Kaziranga National Park is home to the largest population of One Horned Rhinoceros in the entire world.</p>
                                <p class="card__text"><b>Best Time to Visit: </b>November to April </p>
                                <button class="btn btn--block card__btn">Rs. 35,149</button>
                              </div>
                            </div>
                          </li>
                          <li class="cards__item">
                            <div class="card">
                              <div class="card__image card__image--safari6"></div>
                              <div class="card__content">
                                <div class="card__title">Sundarbans National Park, West Bengal</div>
                                <p class="card__text">Sundarbans National Park is a wonderful place to see the tigers doing various things in their natural habitat. Watch them swimming in the water and enjoying different stuffs with their family. </p>
                                <p class="card__text"><b>Best Time to Visit: </b> October to Mid-June</p>
                                <button class="btn btn--block card__btn">Rs. 25,500</button>
                              </div>
                            </div>
                          </li>
                      </ul>
    
                </p>   
        </section>

    </div>
    
</body>
</html>